<script setup lang="ts">
import axios from '../service/axios';
import { ref } from 'vue'


// const errorMessage = ref<string>()
// const resMessage = ref<string>()
const appleData = ref({
  Size: 0.0,
  Weight: 0.0,
  Sweetness: 0.0,
  Crunchiness: 0.0,
  Juiciness: 0.0,
  Ripeness: 0.0,
  Acidity: 0.0
})

const Predicton = ref<{ prediction: String }>({ prediction: '' })

const isActive = ref(false)

async function submit(item: any) {

  try {
    const res = await axios.PredicApple(item)
    Predicton.value = res.data
    isActive.value = true
  } catch (e) {
    console.log(e)
    isActive.value = false
  }
}

// const predictAppleQuality = async () => {
//   try {
//     const response = await axios.post('http://localhost:8000/', appleData.value)
//     console.log('Predicted apple quality: ', response.data)
//     errorMessage.value = ''

//     resMessage.value = response.data
//   } catch (error) {
//     console.error('Error predicting apple quality:', error)
//   }
// }
</script>

<template>
  <v-layout class="bg-img">
    <v-card class="mx-auto my-8" height="650px" width="700">
      <v-card-item>
        <v-card-title style="font-size: 30px; color: rgb(205, 41, 41);">
          Predictation Apple Quality
        </v-card-title>
        <v-card-subtitle style="padding-top: 10px;">
          Please input data with float number
        </v-card-subtitle>
      </v-card-item>

      <v-card-text>
        <v-slider v-model="appleData.Size" :min="-10" :max="50" :step="0.1" class="ma-4" label="Size" hide-details>
          <template v-slot:append>
            <v-text-field v-model="appleData.Size" density="compact" style="width: 150px" type="number"
              variant="outlined" hide-details></v-text-field>
          </template>
        </v-slider>

        <v-slider v-model="appleData.Weight" :min="-10" :max="50" :step="0.1" class="ma-4" label="Weight" hide-details>
          <template v-slot:append>
            <v-text-field v-model="appleData.Weight" density="compact" style="width: 150px" type="number"
              variant="outlined" hide-details></v-text-field>
          </template>
        </v-slider>

        <v-slider v-model="appleData.Sweetness" :min="-10" :max="50" :step="0.1" class="ma-4" label="Sweetness"
          hide-details>
          <template v-slot:append>
            <v-text-field v-model="appleData.Sweetness" density="compact" style="width: 150px" type="number"
              variant="outlined" hide-details></v-text-field>
          </template>
        </v-slider>

        <v-slider v-model="appleData.Crunchiness" :min="-10" :max="50" :step="0.1" class="ma-4" label="Crunchiness"
          hide-details>
          <template v-slot:append>
            <v-text-field v-model="appleData.Crunchiness" density="compact" style="width: 150px" type="number"
              variant="outlined" hide-details></v-text-field>
          </template>
        </v-slider>

        <v-slider v-model="appleData.Juiciness" :min="-10" :max="50" :step="0.1" class="ma-4" label="Juiciness"
          hide-details>
          <template v-slot:append>
            <v-text-field v-model="appleData.Juiciness" density="compact" style="width: 150px" type="number"
              variant="outlined" hide-details></v-text-field>
          </template>
        </v-slider>

        <v-slider v-model="appleData.Ripeness" :min="-10" :max="255" :step="0.1" class="ma-4" label="Ripeness"
          hide-details>
          <template v-slot:append>
            <v-text-field v-model="appleData.Ripeness" density="compact" style="width: 150px" type="number"
              variant="outlined" hide-details></v-text-field>
          </template>
        </v-slider>
        <v-slider v-model="appleData.Acidity" :min="-10" :max="255" :step="0.1" class="ma-4" label="Acidity"
          hide-details>
          <template v-slot:append>
            <v-text-field v-model="appleData.Acidity" density="compact" style="width: 150px" type="number"
              variant="outlined" hide-details></v-text-field>
          </template>
        </v-slider>

        <v-col cols="12">
          <v-btn rounded="lg" size="x-large" style="background-color: rgb(205, 41, 41); color: white" block
            @click="submit(appleData)">Prediction</v-btn>
        </v-col>

        <v-row style="padding-top: 5px; justify-content: center;">
          <v-card-subtitle>
            Apple quality is..
          </v-card-subtitle>
        </v-row>
        <v-row style="justify-content: center;">
          <v-card-title class="text-center" style="font-size: 40px;">
            {{ Predicton.prediction }}
          </v-card-title>
        </v-row>

      </v-card-text>





    </v-card>
  </v-layout>



</template>

<style scoped>
.bg-img {
  background: url(https://cdn.discordapp.com/attachments/865866357333688360/1224971073854898176/peakpx.jpg?ex=661f6e36&is=660cf936&hm=fe4910b04f3aa9d5912b250a389e3b85217b773602a1ccf9b6ffeae3770625ae&);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
</style>