<script setup lang="ts">
import AppleQuality from '@/components/AppleQuality.vue'
</script>

<template>
  <v-layout>
    <v-main>
      <AppleQuality />
    </v-main>
  </v-layout>
</template>

<style></style>
